@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList.Mvc.Core;
@model IPagedList<QueryRes>

<form id="searchForm" method="post" action="/ContactInfo/Index">
    <div class="form-row">
        <div class="col-lg-3">
            <label class="control-label">@Html.DisplayNameFor(model => model.First().Name)</label>
            <input type="text" id="txtName" name="Name" class="form-control" value="@ViewBag.Name">
        </div>
        <div class="col-lg-3">
            <label class="control-label">@Html.DisplayNameFor(model => model.First().Nickname)</label>
            <input type="text" id="txtNickname" name="Nickname" class="form-control" value="@ViewBag.Nickname">
        </div>
        <div class="col-lg-3">
            <label class="control-label">@Html.DisplayNameFor(model => model.First().Gender)</label>
            @Html.DropDownList("Gender",
            new List<SelectListItem>
            {
                new SelectListItem { Text = "Female", Value = "0" },
                new SelectListItem { Text = "Male", Value = "1" }
            }, "ALL", new { @class = "form-control" })
        </div>
        <div class="col-lg-3">
            <button id="btnSearch" class="btn btn-warning" type="submit"><i class="fa fa-search"></i> Search</button>
        </div>
    </div>
    <input type="hidden" id="hidPageIndex" name="PageIndex" value="1" />
</form>

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create")'">Create</button>
    <button id="btnDelete" class="btn btn-danger">Delete</button>
</div>

<table class="table" width="100%">
    <thead>
        <tr>
            <th><input type="checkbox" id="checkAll" /></th>
            <th>@Html.DisplayNameFor(model => model.First().ContactInfoID)</th>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Nickname)</th>
            <th>@Html.DisplayNameFor(model => model.First().Gender)</th>
            <th>@Html.DisplayNameFor(model => model.First().Age)</th>
            <th>@Html.DisplayNameFor(model => model.First().PhoneNo)</th>
            <th>@Html.DisplayNameFor(model => model.First().Address)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td><input type="checkbox" class="checkbox" data-contactinfoid="@item.ContactInfoID"/></td>
            <td>@Html.DisplayFor(modelItem => item.ContactInfoID)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Nickname)</td>
            <td>@(item.Gender.HasValue ? (item.Gender == 0 ? "Female" : item.Gender == 1 ? "Male" : "") : "")</td>
            <td>@Html.DisplayFor(modelItem => item.Age)</td>
            <td>@Html.DisplayFor(modelItem => item.PhoneNo)</td>
            <td>@Html.DisplayFor(modelItem => item.Address)</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ContactInfoID">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.ContactInfoID">Edit</a>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <td class="text-muted" colspan="8">
                本頁小計 @Model.Count 筆資料，全部總計 @Model.TotalItemCount 筆資料。
            </td>
        </tr>
    </tfoot>
</table>

<div>
    @Html.PagedListPager(Model, page => "javascript:PageChange(" + page + ")", Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var isAutoPost = @Html.Raw(ViewBag.AutoPost.ToString().ToLower());
        if (isAutoPost) {
            $("#searchForm").submit();
        }

        $('#checkAll').click(function () {
            $('.checkbox').prop('checked', $(this).prop('checked'));
        });

        $('#btnDelete').click(function () {
            var checkedCount = $('.checkbox:checked').length;
            if (checkedCount === 0) {
                alert('Please select items to delete.');
                return;
            }

            if (confirm('Are you sure you want to delete selected items?')) {
                var selectedItems = [];
                $('.checkbox:checked').each(function () {
                    selectedItems.push($(this).data('contactinfoid'));
                });

                $.ajax({
                    url: '/ContactInfo/Remove',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ Ids: selectedItems }),
                    success: function (data) {
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }
        });
    })

    function PageChange(pageNumber) {
        $("#hidPageIndex").val(pageNumber);
        $("#searchForm").submit();
    }
</script>