@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList.Mvc.Core;
@model IPagedList<QueryRes>

<form id="searchForm" method="post" action="/ContactInfo/Index">
    <div class="col-lg-3">
        <input type="text" placeholder="Name" id="txtName" name="Name" class="form-control" value="@ViewBag.Name">
    </div>
    <div class="col-lg-3">
        <input type="text" placeholder="Nickname" id="txtNickname" name="Nickname" class="form-control" value="@ViewBag.Nickname">
    </div>
    <input type="hidden" id="hidPageIndex" name="PageIndex" value="1" />
    <div class="col-lg-2">
        <button id="btnSearch" class="btn btn-warning pull-right" type="submit"><i class="fa fa-search"></i>Search</button>
    </div>
</form>

<p>
    <a asp-action="Create">Create</a>
</p>

<table class="table" width="100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(e => e.First().ContactInfoID)</th>
            <th>@Html.DisplayNameFor(e => e.First().Name)</th>
            <th>@Html.DisplayNameFor(e => e.First().Nickname)</th>
            <th>@Html.DisplayNameFor(e => e.First().Gender)</th>
            <th>@Html.DisplayNameFor(e => e.First().Age)</th>
            <th>@Html.DisplayNameFor(e => e.First().PhoneNo)</th>
            <th>@Html.DisplayNameFor(e => e.First().Address)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(e => item.ContactInfoID)</td>
            <td>@Html.DisplayFor(e => item.Name)</td>
            <td>@Html.DisplayFor(e => item.Nickname)</td>
            <td>@Html.DisplayFor(e => item.Gender)</td>
            <td>@Html.DisplayFor(e => item.Age)</td>
            <td>@Html.DisplayFor(e => item.PhoneNo)</td>
            <td>@Html.DisplayFor(e => item.Address)</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ContactInfoID">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.ContactInfoID">Edit</a> |
                <a asp-action="Remove" asp-route-id="@item.ContactInfoID">Remove</a>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <td class="text-muted" colspan="5">
                第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 頁，共 @Model.PageCount 頁。
                每頁 @Model.PageSize 筆資料，全部共有 @Model.TotalItemCount 筆資料。
            </td>
        </tr>
    </tfoot>
</table>

<div>
    @Html.PagedListPager(Model, page => "javascript:PageChange(" + page + ")", Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function PageChange(pageNumber) {
        $("#hidPageIndex").val(pageNumber);
        $("#searchForm").submit();
    }
</script>